.form {
  max-width: 350px;
  position:fixed;
  left:0;
  right:0;
  margin: auto;
  top:100px;
}

.btnLogin {
  width: 100%;
}

.login {
    height: 100%;
    background-image: url('/src/assets/images/login_bg.jpg');

}