.network0 {
    display: inline-block;
    border-left: 5px solid #108EE9;
    height: 500px;
}

.network1 {
    display: inline-block;
    border-left: 5px solid #EB4B4B;
    margin-left: 50px;
    height: 500px;
}

.network2 {
    display: inline-block;
    border-left: 5px solid #34A853;
    margin-left: 50px;
    height: 500px;
}

.network3 {
    display: inline-block;
    border-left: 5px solid #FBBC05;
    margin-left: 50px;
    height: 500px;
}

.network4 {
    display: inline-block;
    border-left: 5px solid #364d79;
    margin-left: 50px;
    height: 500px;
}
