.header {
    padding: 20px 30px;
    border-bottom: 1px solid #eeeeee;
    background-color: #ffffff;
    text-align: right;
    position: relative;
}

.title {
    position: absolute;
    left: 30px;
    font-size: 18px;
    font-weight: 800;
}

.date {
    margin-right: 10px;
}