.table {
    background: #ffffff;
    margin-left: 20px;
}

.toolbar {
    margin-left: 20px;
}

.available,
.creating {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 5px;
}

.available {
    background-color: green;

}